<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registracija</title>
</head>
<body>
	<form action="#" th:action="@{/addKorisnik}" th:object="${korisnik}" th:method="post">
		<label>Ime: </label><br>
		<input type="text" th:field="*{ime}"><br>
		<label>Prezime: </label><br>
		<input type="text" th:field="*{prezime}"><br>
		<label>Email: </label><br>
		<input type="text" th:field="*{email}"><br>
		<label>Sifra: </label><br>
		<input type="password" th:field="*{sifra}"><br><br>
		<label>Tip naloga:</label><br>
		Klijent <input type="radio" value="klijent" th:field="*{tip}" checked="checked"><br>
		Menadžer <input type="radio" value="menadzer" th:field="*{tip}">
		<br><br>
		<input type="submit" value="Registruj se">
	</form>
</body>
</html>